@charset "UTF-8";
@use "common";


//body, header, footer
body {
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    header {
        z-index: 10;
        width: 100%;
        .title-logo {
            height: 140px;
            display: flex;
            align-items: center;
            h1 {
                font-size: 26px;
                font-weight: bold;
                margin: 0 auto;
            }
        }
        nav {
            background-color: #121212;
            .menu {
                max-width: 1000px;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                position: relative;
                li {
                    width: 25%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    display: block;
                    &:hover {
                        background-color: #3c3636;
                    }
                    a {
                        display: block;
                    }
                    .menu-second {
                        visibility: hidden;
                    }
                }
                .single {
                    position: relative;
                    .menu-second {
                        width: 100%;
                        background-color: #3c3636;
                        position: absolute;
                        top: 50px; left: 0;
                        li {
                            width: 100%;
                            a{
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                    &:hover {
                        .menu-second {
                            visibility: visible;
                        }
                    }
                }
                .wide {
                    position: relative;
                    .menu-second {
                        width: 200%;
                        background-color: #3c3636;
                        position: absolute;
                        top: 50px; left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            width: 50%;
                            a{
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                    &:hover {
                        .menu-second {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    footer {
        border-top: 2px solid #3c3636;
        width: 100%;
        height: 300px;
        background-color: antiquewhite;
        .section-group {
            margin: 0 auto;
            width: 800px;
            height: 80%;
            padding-top: 50px;
            display: flex;
            justify-content: center;
            gap: 50px;
            section {
                width: 200px;
                text-align: center;
            }
        }
        .footer-end {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            gap: 100px;
            div {
                width: 50%;
                img {
                    width: 25%;
                    height: auto;
                    text-align: center;
                } 
            }
            p {
                width: 50%;
            }
        }
    }
}

// index.php
main {
    .top-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 100px;
        margin-bottom: 150px;
        h1 {
            text-align: center;
        }
        .top-img {
            width: 800px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .info-wrapper {
        width: 90%;
        margin: 0 auto 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h1 {
            width: 100%;
            font-size: 2rem;
            padding: 10px 0;
            text-align: center;
            border-bottom: 2px double #3c3636;
        }
        .info-box {
            width: 60%;
            border: 1px solid #3c3636;
            padding: 10px 20px;
            margin: 0 auto;
            h2 {
                margin-bottom: 10px;
            }
            p {
                display: inline-block;
                border-bottom: 1px solid #3c3636;
                padding: 0 5px;
            }
        }
    }
}

//single.php
.single-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px 0;
    .single-top-img {
        width: 500px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    h1 {
        width: 90%;
        font-size: 2.5rem;
        text-align: center;
        border-bottom: 2px double #3c3636;
        padding: 10px 0;
        margin: 0 auto;
    }
    .info-text {
        width: 80%;
        margin: 0 auto;
        p {
            font-size: 1.8rem;
            text-align: center;
            padding-bottom: 5px;
        }
    }
}