@charset "UTF-8";
@use "common";

body {
    font-family: "Poppins";
    header {
        width: 100%;
        .title-logo {
            height: 140px;
            display: flex;
            align-items: center;
            h1 {
                font-size: 26px;
                font-weight: bold;
                margin: 0 auto;
            }
        }
        .gnavi-wrap {
            background-color: #121212;
            ul {
                margin: auto;
                width: 1000px;
                display: flex;
                text-align: center;
                li {
                    width: 25%;
                    height: 50px;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: #FFFFFF;
                        font-size: 14px;
                        margin: 0 auto;
                        &:hover {
                            background-color: #3C3636;
                        }
                    }
                }
            }
        }
    }
}